*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

/* Barra de navegacion */
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #4631be;
    box-shadow: 0 0.2rem 0 rgb(0 0 0 / 40%);
}

nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.listaNav{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.lista{
    display: list-item;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.link{
    display: block;
    font-size: 2.2rem;
    padding:1rem;
}

.link:hover{
    background: #5f457d;
}
/* Fin Barra de navegacion */


/* _________________________ */


/* Bienvenida */
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 28, 54);
    background-image: linear-gradient(62deg, #1f3d5c 0%, #181719 100%);
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

h3{
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .fotoPerfil{
        display: none;
    }
}
/* Fin Bienvenida */


/* _________________________ */


/* Proyectos */
#projects{
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 1rem;
    text-align: center;
    background: #644a79;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 100%;
    height: auto;
}

.project-tile{
    display: flex;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 40rem;
    font-size: 2rem;
    padding: 2rem 0.5rem;
}



.card{
    background: #303841;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 50%);
    border-radius: 0.4rem;
    color:white;
}

p{
    padding: 2rem 0.5rem;
    color:white;
}
/* Fin Proyectos */


/* _________________________ */


/* Contactos */
#contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #2e445e;
}

.enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 4rem; 
}

.iconos{
    display: inline-block;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.contantoLink {
    font-size: 2.4rem;
    text-shadow: 0.2rem 0.2rem 0.1rem black;
    transition: transform 0.3s ease-out;
}

.contantoLink:hover{
    transform: translateY(0.8rem);
}
/* Fin Contactos */


/* _________________________ */


/* Pie de Pagina */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top:2rem;
    padding-bottom:2rem;
    background-color: #2e445e;
    border-top: 0.4rem solid #4631be;
    text-align: center;
}

footer p{
    font-weight: 300;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.7rem;
}
/* Fin Pie de Pagina */