/* Barra de navegacion */
.link{
    font-size: 5rem;
    padding:1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
/* Fin Barra de navegacion */


/* _________________________ */


/* Bienvenida */
h1{
    font-size: 8rem;
}

h3{
    font-size: 5rem;
}

.fotoPerfil{
    width: 40rem;
    margin-top: 6rem;
}

.fotoPerfil img{
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(50, 95, 126);
}
/* Fin Bienvenida */


/* _________________________ */


/* Proyectos */
#projects{
    padding: 10rem 1rem;
}

h2{
    font-size: 6rem;
}

.project-tile{
    width: 60rem;
    font-size: 4rem;
}
/* Fin Proyectos */


/* _________________________ */


/* Contactos */
.contantoLink {
    font-size: 6rem;
}
/* Fin Contactos */


/* _________________________ */


/* Pie de Pagina */
footer p{
    font-size: 2.5rem;
}